
body{
    background-color: #000C4E;
    color: #ffff;
    font-family: 'Inter', sans-serif;
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
height: 135px;
display: flex;
padding: 0 15px;
justify-content: space-around;
background-image: linear-gradient(to bottom, #243070 26%, #151f55);
align-items: center;
}

main{
    padding: 50px 30px;
}
h2{
    font-size: 16px;
}
h1{
    font-size: 24px;
    margin-top: 19px;
    margin-left: 5px;
}
#logo{
    text-align: left;
    display: flex;
}
.check{
    background-color: #243070;
    height: auto;
    width: 30%;
    margin: auto;
    padding: 50px;
    border-radius: 25px;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #243070 26%, #151f55);
}
.input{
    padding-top: 20px;
    display: grid;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label {
    position: relative;
    padding-left: 1.3rem;
  }
input[type="radio"] + label::before,
input[type="radio"] + label::after {
  display: block;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  content:'';
  width: 1rem;
  height: 1rem; 
  border-radius: 1rem;
  
}
input[type="radio"]+ label::before {
    background-color: #243070;
    border:#000C4E 2px solid;
}
  input[type="radio"]:checked + label::after {
    background-color: #000C4E;
    border: #243070 2px solid;
}
.btn {
    width: auto;
    height: 50px;
    padding: 10px 40px;
    border-radius: 25px;
    background-color: #00dcc2;
    border: none;
    color: #ffffff;
    box-shadow: 0 0 15px 0 #00dbc5;
    transition: 0.5s ease-in;
}

.btn:hover {
    box-shadow: none;
}

.right {
    float: right;
}

.btn:focus {
    outline: none;
}

.connexion{
    color: black;
    width: 100px;
    margin: 0 ;
    padding: 0;
    position: initial;
}
a {
    text-align: center;
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .check{
          width: 20%;
          margin: 0 auto;
      }
}