body{
    background-color: #000C4E;
    color: #ffff;
    font-family: 'Inter', sans-serif;
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*MENU*/
nav{
height: 135px;
display: flex;
padding: 0 15px;
justify-content: space-around;
background-image: linear-gradient(to bottom, #243070 26%, #151f55);
align-items: center;
}

section {
    text-align: center;
}
.logo{
    display: flex;
    color: white;
    text-decoration: none;
}
.logo img{
    margin-right:16px; 
}
h1:hover{
    color: #00dcc2;
}
a{
    color: white;
    text-decoration: none;
}
main{
    padding: 21px;
}
/*AUDIO ET VIDEO*/
audio{
    width: 285px;
    margin-bottom: 20px;
}
iframe{
    margin-bottom: 20px;
}
/* FOOTER */
footer{
    height: 515px;
    margin: 40px 0 0;
    padding: 18px 34px 44px 24px;
    background-image: linear-gradient(to bottom, #243070 26%, #151f55);
}
footer p{
    text-align: left;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 45px;
}
.reseaux div{
    display: flex;
    align-items: center;
}
.reseaux div img{
    margin-right: 16px;
}
.logo-footer div{
    display: flex;
    justify-content: space-around;
    width: 190px;
}

/* RESPONSIVE */
@media screen 
  and (max-device-width: 650px) { 
    nav {
        align-items: center;
        flex-flow: column;
        padding: 30px;
    }
}

@media screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    nav{
    justify-content: space-between;
    padding: 0 50px ;
    }
    footer p{
        text-align: left;
        font-size: 15px;
        width: 500px;
    }
}
@media screen 
  and (min-device-width: 850px){
    iframe, audio{
        width: 350px;
        margin-right: 15px;
    }

  }