@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000c4e;
    font-family: 'Inter', sans-serif;
}

.box {
    background-color: #243070;
    height: auto;
    width: 30%;
    margin: auto;
    padding: 50px;
    border-radius: 25px;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #243070 26%, #151f55);
}

.btn {
    width: auto;
    height: 50px;
    padding: 10px 40px;
    border-radius: 25px;
    background-color: #00dcc2;
    border: none;
    color: #ffffff;
    box-shadow: 0 0 15px 0 #00dbc5;
    transition: 0.5s ease-in;
}

.btn:hover {
    box-shadow: none;
}

.right {
    float: right;
}

.btn:focus {
    outline: none;
}

.upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
.btn_u {
    width: 100%;
    height: 50px;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: transparent;
    color: #00dcc2;
    float: right;
    border: 2px solid #00dcc2;
}
  
.upload-btn input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


/* HEADERS */

nav {
    height: 135px;
    display: flex;
    padding: 0 15px;
    justify-content: space-around;
    background-color:#243070 ;
    align-items: center;
    background-image: linear-gradient(to bottom, #243070 26%, #151f55);
    margin-bottom: 50px;
}

nav>h1 {
    vertical-align: middle;
}

.logo {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}

.logo img {
    margin: 7px;
}

/* LOGIN REGISTER PAGE */

body>a>img {
    margin: auto;
    display: block;
    padding: 20px;
}

.box>h1 {
    font-weight: normal;
    padding: 15px 0px;
    position: relative;
    right: 0;
}

form>input[type=email],[type=password],[type=text] {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-radius: 26px;
    background-color: #000c4e;
    padding: 15px;
    border:none;
    color: #ffffff;
}

form>input[type=email],[type=password],[type=text]:focus {
    outline: none;
}

.btnPosition {
    text-align: right;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s ease-in;
}
a:hover {
    color: #00dcc2;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px) {
    .box {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .box {
        width: 90%;
    }

    .btn {
        height: 35px;
        padding: 10px 30px;
    }

    .btn_u {
        margin-bottom: 17px;
    }
}

