body{
    background-color: #000C4E;
    color: #ffff;
    font-family: 'Inter', sans-serif;
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
height: 135px;
display: flex;
padding: 0 15px;
justify-content: space-around;
background-color:#243070 ;
align-items: center;
}
.logo{
    display: flex;
    color: white;
    text-decoration: none;
}
.nivDeDouleur{
    display: flex;
    height: 51px;
    justify-content: space-around;
    background-color: #00041c;
}
.nivDeDouleur a, a{
    color: white;
    text-decoration: none;
}
.nivDeDouleur h2, .nivDeDouleur a{
    align-self: center;
}
footer{
    
    margin: 40px 0 0;
    padding: 18px 34px 44px 24px;
    background-image: linear-gradient(to bottom, #243070 26%, #151f55);
}
footer p{
    text-align: left;
}
.logo-footer div{
    display: flex;
    justify-content: space-around;
    width: 190px;
}